body {
    font-family: Arial;
    margin:0;
}

.header {
    background:#2c7be5;
    color:white;
    text-align:center;
    padding:20px;
}

.nav {
    background:#1a5bb8;
    text-align:center;
    padding:10px;
}

.nav a {
    color:white;
    margin:10px;
}

.ba-grid {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:15px;
    padding:20px;
}

.ba-grid img {
    width:100%;
    border-radius:10px;
    cursor:pointer;
}

/* MODAL */
.modal {
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.95);
    justify-content:center;
    align-items:center;
}

.img-wrapper {
    overflow:hidden;
    max-width:90%;
    max-height:85%;
}

.modal img {
    width:100%;
    transition:0.3s;
}

/* CLOSE */
.close {
    position:absolute;
    top:20px;
    right:30px;
    font-size:30px;
    color:white;
    cursor:pointer;
}

/* NAV */
.nav-btn {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:40px;
    color:white;
    cursor:pointer;
}

.prev { left:20px; }
.next { right:20px; }
